@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fraunces:opsz@9..144&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospaces;
}

header{
    box-shadow:  0.125rem 0.125rem 0.25rem #000000 ;
    width: 100%;
}

.bar-top{
    display: flex;
    background-color: #FFFAFA;
    height: 5rem;
    align-items: center;

}

.logo{
    margin-left: 1rem;
}

.logo span{
    color: #B64A1D;
    font-family: 'Anton', sans-serif;
    -webkit-text-stroke:  1px #000000 ;
    text-shadow: 0.125rem 0.125rem 0.25rem #000000
    ;
    font-size: 3rem;
;
}

.slider{
    margin: 5rem auto 0;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #0c0b0b;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: black;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.game{
    display: flex;
    width: 800px;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #000000;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #000000;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #000000;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #000000;
}
.text{
    margin: 0 auto;
}


.games{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.card-game{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 70rem;
    background-color: rgba(132, 159, 178, 0.5);
    border-radius: 20rem;
    margin-bottom: 5rem;
}

.card-game-txt{
    display: flex;
    flex-direction: column;
    width: 10rem;
    align-items: center;
}

.card-game-txt h2{
    color: #FFFAFA;
    font-weight: bold;
    font-size:2rem;
}

.card-game-txt h3{
    color: #999999 ;
}